$color: rgb(255, 38, 172);
.orange {
  color: $color;
}
.equal {
  position: relative;
}
.equal::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $color;
  left: 10px;
  top: 10px;
  z-index: -1;
}
